$green:         #556622;
$green-lighter: lighten($green, 10%);
$green-darker:  darken($green, 10%);
$red:         #622;
$red-lighter: lighten($red, 10%);
$red-darker:  darken($red, 10%);
$blue:         #222f66;
$blue-lighter: lighten($blue, 10%);
$blue-darker:  darken($blue, 10%);
$brown:         #664122;
$brown-lighter: lighten($brown, 10%);
$brown-darker:  darken($brown, 10%);

@mixin gradient($color, $color-lighter) {
	background: -moz-linear-gradient(left, $color 0%, $color-lighter 50%, $color 100%);
    background: -webkit-linear-gradient(left, $color 0%, $color-lighter 50%,$color 100%);
    background: linear-gradient(to right, $color 0%, $color-lighter 50%,$color 100%);
}



@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }   
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(openWrapper)  {
  0% {
	-webkit-transform: scale3d(0.1,0.1,1);
    -moz-transform: scale3d(0.1,0.1,1);
    transform: scale3d(0.1,0.1,1); 
  }
  55% {
    -webkit-transform: scale3d(1.1,1.1,1);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  70% {
    -webkit-transform: scale3d(0.9,0.9,1);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  }
  85% {
    -webkit-transform: scale3d(1.1,1.1,1);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
  }
  100% {
	-webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);    
  }
}


.sort{
	width: 500px;
	height: 50px;
    margin: 20px auto;

&__list{  
  margin: 30px auto;
  list-style: none;
}

&__item{
	float: left;
	padding: 10px;
}

}

.container{
          width: 500px; 
          margin: 10px auto;
	   }

	   .books{ 
	   	  width: 250px;
	   	  margin: 30px auto;
	   	  list-style: none;
	   }	

	   .book-item{	   	 
	   	  position: relative;
	   	  float: left;
	   	  margin-right: 1px;
	   	  margin-top: 30px;
	   	  -webkit-perspective: 500px;
          perspective: 500px;
            
            &__rotate{
            	display: none;
            	position: relative;
                left: 5px;
                width: 30px;
                height: 30px;
            	&::before {
                  content: "\21bb";
	              font-size: 30px;
	            }
            }	   	 

            &__cover{            	
              position: relative;
              float: left;
              z-index: 100;
              width: 30px;
              height: 150px;
              border: solid;
              border-width: 1px 3px;
              color: #fff;              
              -webkit-transform-origin: 100% 100%;
              -moz-transform-origin: 100% 100%;   
              transform-origin: 100% 100%;

              &_green{
                border-color: $green-darker;
                @include gradient($green, $green-lighter);               
              }
              &_red{
                border-color: $red-darker;
                @include gradient($red, $red-lighter);               
              }
              &_blue{
                border-color: $blue-darker;
                @include gradient($blue, $blue-lighter);                 
              }
              &_brown{
                border-color: $brown-darker;
                @include gradient($brown, $brown-lighter);                 
              }  
              
            }



            &__author, {
              display: block;
              white-space: nowrap;
              position: relative;
              top: 100px;
              right: 7px;
             -webkit-transform: rotate(-90deg);
             -moz-transform: rotate(-90deg);
             transform: rotate(-90deg);
             cursor: pointer;

            }

            &__title{
              display: block;
              white-space: nowrap;
              position: relative;
              top: 80px;
              left: 7px;
              -webkit-transform: rotate(-90deg);
              -moz-transform: rotate(-90deg);
              transform: rotate(-90deg);
              cursor: pointer;
            }

            &__face{
            	position: absolute;    
            	height: 151px;
            	width: 130px; 
            	left: 33px; 
            	top: 0px; 
            	color: #fff;
            	text-align: center;      
            	-webkit-transform-origin: 0 0;
                -moz-transform-origin: 0 0;   
                transform-origin: 0 0;                          	
            	-webkit-transform: rotateY(90deg);
                -moz-transform: rotateY(90deg);
                transform: rotateY(90deg); 
                
	   	        &_green{
	   	        	background: $green;
	   	        }
	   	        &_red{
	   	        	background: $red;
	   	        }
	   	        &_blue{
	   	        	background: $blue;
	   	        }
	   	        &_brown{
	   	        	background: $brown;
	   	        }

	   	    }

	   	    &__content{
	   	    	display: none;
                &_open{
                display: block;
                width: 350px;
                height: 250px;
                margin: auto;                
                }                              
	   	    }

	   	    &__face-author, &__face-title{   
	   	        top: 20px;
                position: relative;
                cursor: pointer;
	   	    } 
	   	   
	   }

	   .wrapper{	   	  
	   	  display: none;
	   	  z-index: 999999;
          background: #fff;
          border: 1px solid #ccc;
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 200px;  
          left: 500px;            
	   	  width: 400px;
          height: 300px;
          -webkit-perspective: 300px;
          perspective: 300px;

          &_open{    
          	animation: openWrapper 500ms ease-out;            
            display: block;         
          }           
         
          &__close{
             position: absolute;
             font-size: 100%;
             top: 0;
             color: #454544;
             right: 10px;
             display: block;
             width: 24px;
             height: 24px;
             border: none;
             background: transparent;
             cursor: pointer;
          }                   
	   }

	   .shelf {
          position: relative;
          clear: left;
          right: 70px;
          width: 350px;
          height: 25px;
          background: #620;
          margin: 0 auto;
          background: -moz-linear-gradient(top, #662200 70%, #995500 80%, #662200 100%);
          background: -webkit-linear-gradient(top, #662200 70%,#995500 80%,#662200 100%);
          background: linear-gradient(to bottom, #662200 70%,#995500 80%,#662200 100%);
          
          -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
          -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
        }
.cover {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99999;
      width: 100%;
      height: 100%;
      background-color: gray;
      opacity: 0.3;
    }


	       